:root[data-theme="light"] {
  --background-color: #ffffff;
  --text-color: #1C1E21;
}

:root[data-theme="dark"] {
  --background-color: #18191a;
  --text-color: #f5f6f7;
}

body {
  background: var(--background-color);
  color: var(--text-color); 
}

.button_add{
  background: var(--background-color);
  color: var(--text-color);
}
.delete_button{
  background: var(--background-color);
  color: var(--text-color);
}
.card{
  background: var(--background-color);
  color: var(--text-color);
}
.cardDetail{
  background: var(--background-color);
  color: var(--text-color);
}
.language_Button{
  background: var(--background-color);
  color: var(--text-color);
}
.post{
  background: var(--background-color);
  color: var(--text-color);
}
.button_more_post{
  background: var(--background-color);
  color: var(--text-color);
}
.btn{
  background: var(--background-color);
  color: var(--text-color);
  filter: invert(1);
}
.about_text{
  color: var(--text-color);
}